{% extends 'AppBundle::Page/OperatorFormation/operatorformation.html.twig' %}

{% block sidebar_nav %}
    <h2><em><a href="javascript:history.go(-1)">Retour</a></em></h2>
    {{ parent() }}
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_QUATHODE') %}
		<input type="button" value="Exporter la FFO" onclick="{window.location.href='{{ path('AppBundle_operatorformation_export', {'idOpForm': operatorformation.id}) }}'}">
	{% endif %}
{% include "AppBundle:Page/OperatorFormation:operatorformation_show_normal.html.twig" %}

{% endblock %}
