{% extends 'AppBundle::layout.html.twig' %}



{% block body %}
    <fieldset>
        <legend>
            <h1>ERREUR 404 : MOTIVATION NOT FOUND LOL </h1>
        </legend>

    </fieldset>
{% endblock %}
