{% extends 'AppBundle::layout.html.twig' %}



{% block body %}
    <fieldset>
        <legend>
            <h1> Update 26/06/2017 : 13h15 </h1>
			<ul>
				<li>
					Pour les futurs comptes créés, la connexion se fait désormais avec le matricule en identifiant et mot de passe. (le matricule est donc obligatoire à la création)
				</li>
				</br>
				<li>
					Les problèmes d'accès à la création/édition des formations pour les employés Qualité/Méthodes ont normalement été résolus
				</li>

			</ul>
        </legend>

    </fieldset>
{% endblock %}
