{% extends 'AppBundle::layout.html.twig' %}



{% block body %}
    <fieldset>
        <legend>
            <h1> Update 04/07/2017 : 15h30 </h1>
			<ul>
				<li>
					Tests en cours sur l'alarme de niveau 4
				</li>
				</br>
			</ul>
        </legend>
    </fieldset>

    <fieldset>
        <legend>
            <h1> Update 30/06/2017 : 9h30 </h1>
			<ul>
				<li>
					Export des FFO - Ok
				</li>
				</br>
				<li>
					Début de gestion des dates de fin des FFO niveau 4 + début alarmes
				</li>
			</ul>
        </legend>
    </fieldset>

    <fieldset>
        <legend>
            <h1> Update 28/06/2017 : 11h25 </h1>
			<ul>
				<li>
					Les futures FFO créées peuvent être supprimées correctement (lors de la mise en production du site, toutes les FFO actuelles seront supprimées)
				</li>
				</br>
			</ul>
        </legend>

    </fieldset>

    <fieldset>
        <legend>
            <h1> Update 26/06/2017 : 13h15 </h1>
			<ul>
				<li>
					Pour les futurs comptes créés, la connexion se fait désormais avec le matricule en identifiant et mot de passe. (le matricule est donc obligatoire à la création)
				</li>
				</br>
				<li>
					Les problèmes d'accès à la création/édition des formations pour les employés Qualité/Méthodes ont normalement été résolus
				</li>

			</ul>
        </legend>

    </fieldset>
{% endblock %}
